#game-board {
    position: absolute;
    border: 3px solid black;
}

.island {
    position: absolute;
    height: 25px;
    width: 25px;
    border: 2px solid blue;
    border-radius: 50%;
    text-align: center;
    line-height: 28px;
}
