#game-board {
    position: absolute;
    border: 3px solid black;
}

.island {
    position: absolute;
    height: 25px;
    width: 25px;
    border: 2px solid blue;
    background-color: white;
    border-radius: 50%;
    text-align: center;
    line-height: 28px;

    &-selected {
        border: 2px solid orange;
    }
    &-full {
        border: 2px solid LimeGreen;
    }
}

.bridge {
    position: absolute;
    cursor: pointer;

    .line {
        position: absolute;
    }

    .highlight-target {
        position: absolute;
    }

    &.vertical {
        width: 27px;

        .line {
            top: 0;
            bottom: 0;
            &-x1 {
                left: 13px;
                width: 0;
                border-left: 2px solid gray;
            }
            &-x2 {
                left: 10px;
                width: 4px;
                border-left: 2px solid gray;
                border-right: 2px solid gray;
            }
        }

        .highlight-target {
            top: 0;
            bottom: 0;
            left: 6px;
            width: 16px;
        }
    }

    &.horizontal {
        height: 27px;

        .line {
            left: 0;
            right: 0;
            &-x1 {
                top: 13px;
                height: 0;
                border-top: 2px solid gray;
            }
            &-x2 {
                top: 10px;
                height: 4px;
                border-top: 2px solid gray;
                border-bottom: 2px solid gray;
            }
        }

        .highlight-target {
            left: 0;
            right: 0;
            top: 6px;
            height: 16px;
        }
    }

    &:hover {
        .highlight-target {
            background-color: Lavender;
        }
    }
}
